<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cadastro/Concessionaria/static/css/style_cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro1-login">
        <div class="cad-login">
            <h1>CADASTRO EFETUADO COM SUCESSO!!!</h1>
        <div class="textfield">
            <button class="btn-login" onclick="location.href='registro.html'">Registros</button>
            <button class="btn-login" onclick="location.href='index.html'">inicio</button>
        </div>
</body>
</html>