<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cadastro/Concessionaria/static/css/style_cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro1-login">
        <div class="cad-login">
            <h1>Cadastro Cliente</h1>
        <div class="textfield">
            <label for="Nome">Nome Completo</label>
            <input type="text" name="nome" placeholder="Seu Nome Completo">
        </div>
        <div class="textfield">
            <label for="telefone">Telefone</label>
            <input type="tel" id="telefone" class="input-padrao" required placeholder="(xx) xxxxx-xxxx">
        </div>
        <div class="textfield">
            <label for="endereço">Endereço</label>
            <input type="text" name="endereço" placeholder="Informe seu Endereço">
        </div>
        <div class="textfield">
        <label for="cidade">Cidade</label>
        <input type="text" name="cidade" placeholder="Informe a Cidade">
        </div>
            <div class="textfield">
        <label for="UF">UF</label>
        <input type="text" name="UF" placeholder="UF">
        </div>
    <a href="veiculo.html"><button class="btn-login">PRÓXIMO</button></a>
    <a href="index.html" class="passSenha">Voltar</a>
</body>
</html>