<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cadastro/Concessionaria/static/css/style_cadastro.css">

    <title>Cadastro Veiculo</title>
</head>
<body>
    <div class="cadastro1-login">
        <div class="cad-login">
            <h1>Cadastro Veiculo</h1>
        <div class="textfield">
            <label for="Modelo">Modelo</label>
            <input type="text" name="Modelo" placeholder="Informe o modelo do Veículo">
        </div>
        <div class="textfield">
            <label for="Marca">Marca</label>
            <input type="text"  name="Marca" placeholder="Informe a marca do Veículo">
        </div>
        <div class="textfield">
            <label for="Placa">Placa</label>
            <input type="text" name="Placa" placeholder="Informe a Placa do Veículo">
        </div>
        <div class="textfield">
        <label for="Fabricação">Ano de Fabricação</label>
        <input type="text" name="Ano de Fabricação" placeholder="Informe o Ano de Fabricação">
        </div>
            <div class="textfield">
        <label for="Foto">Foto</label>
        <input type="file" name="Foto" placeholder="Foto">
        </div>
    <button class="btn-login" onclick="location.href='end.html'">SALVAR</button>
    <a href="form.html" class="passSenha">Voltar</a>
</body>
</html>